@keyframes nav {
    from {
        transform: translateY(-100px);
    }
}
@keyframes opacity {
    from {
        opacity: 0;
    }
}
.anim-opacity {
    animation: opacity 1s ease-out;
}
@keyframes bounceInRight {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    80% {
        transform: translateX(30px);
    }
}
.anim-bounce-in-right {
    animation: bounceInRight 1s ease-in-out;
}
@keyframes bounceInLeft {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    80% {
        transform: translateX(-30px);
    }
}
.anim-bounce-in-left {
    animation: bounceInLeft 1s ease-in-out;
}
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
}
.anim-fade-left {
    animation: fadeLeft 1s ease-in-out;
}
@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
}
.anim-fade-right {
    animation: fadeRight 1s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
}
.anim-fadeIn {
    animation: fadeIn 1s ease-in-out;
}